@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer {
  width: 100%; /* Adjust width as needed */
  padding: 50px 100px;
  margin: 0 auto;
}

.chart {

}