@tailwind base;
@tailwind components;
@tailwind utilities;


.contentContainer {
  padding: 50px 100px;
}

.tableContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cellHeader {
  background: #F83315;
  color: white;
}

.chartContainer {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Gap between grid items */
}

.chartChild {
  background-color: rgba(246, 237, 237, 0.997);
  padding: 20px;
  text-align: center;
}